$blue: #123C69;
$footer-color:#BAB2B5;
$general-warning: #ac3b61;
$danger: #ac3b61;
$white:#fff;
$background-color: #f3f3f8;
$font-color: #1c1c1c;
$grey:grey;


$small-screen-min: 300px;
$med-screen-max: 768px;